<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="manifest" href="static/manifest.json">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="">
  <link rel="apple-touch-icon" href="/images/icons/icon-152x152.png">
  <meta name="description" content="DMACS for Sai">
  <meta name="theme-color" content="#2F3BA2" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <meta name=viewport content="width=device-width, initial-scale=1">
</head>
<title> My Web App </title>
<body>
  <div>
    <h1> Portal Login </h1>
    <form action="{{url_for('user_login')}}" method="post">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="submit" value="Login">
    </form>
  </div>
  <script type="text/javascript">
  if ('serviceWorker' in navigator) {
     // we are checking here to see if the browser supports the  service worker api
  window.addEventListener('load', function() {
      navigator.serviceWorker.register('/sw.js').then(function(registration) {
        // Registration was successful
        console.log('Service Worker registration was successful with scope: ', registration.scope);
      }, function(err) {
        // registration failed :(
        console.log('ServiceWorker registration failed: ', err);
      });
    });
  }

  </script>



</body>



</html>
